
.wrapp-create-issue {
    
    background-repeat: no-repeat;
    
	margin: 5rem 10rem;
	background-size: 68vw 110vh;
    background-position: center;
    padding: 1rem;
}

.create-issue {
	padding: 2rem;
	width: 30vw;
	height: auto;
	display: flex;
	margin: 5% auto 7% auto;
	flex-direction: column;
    align-content: center;
    align-items: center;
	background-color: #6c63ff;
	border-radius: 13px;
	color: white;
    box-shadow: 10px 10px 5px 0px rgb(230, 230, 230);
    opacity: 0.96;

	h1 {
		padding-bottom: 2rem;
	}
}