.wrapp-create-issue {         
	margin: 1.2rem 10rem;
	background-size: 68vw 110vh;
    background-position: center;
    padding: 1rem;
}

.create-issue {
	padding: 2rem;
	width: 30vw;
	height: auto;
	display: flex;
	margin: 5% auto 7% auto;
	flex-direction: column;
    align-content: center;
    align-items: center;
	background-color: #152026;
	border-radius: 13px;
	color: #ADC5D9;    
    
	h1 {
		padding-bottom: 2rem;
	}

	p {
		font-size: 1.3rem;
	}
}