.edit-profile { 
	padding: 5rem;
	width: 40rem;
	height: auto;
	display: flex;
	margin: 5% auto 7% auto;
	flex-direction: column;
	align-content: center;
	background-color: #6c63ff;
	border-radius: 13px;
	color: white;
	box-shadow: 10px 10px 5px 0px rgb(230, 230, 230);
}
