.wrapp-edit-profile {
	margin: 2rem 10rem;
	background-size: cover;
    background-position: center;
    padding: 1rem;
}

.edit-profile { 
	padding: 2rem;
	width: 35vw;
	height: auto;
	display: flex;
	margin: 5% auto 7% auto;
	flex-direction: column;
	align-content: center;
	align-items: center;
	background-color: #152026;
	border-radius: 13px;
	color: #ADC5D9;
	
}
