.footer-main {
	position: absolute;
}
.footer {
	min-height: 5vh;
	background-color: #152026;
	width: 100%;
	margin: 0;
    display: flex;	
    justify-content: center;
    align-items:center;    
	flex-direction: row;	
	position: relative;
	bottom: 0;
	left: 0;    
}

