@media (min-width: 769px) {
	.main-header,
	.main-nav {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}
}

@media (min-width: 1025px) {
	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media (max-width: 1212px) {
	.main-nav {
		
		a {
			font-size: 1rem;
			transition: font-size 0.5s ease-in-out;	

			&:hover {
				font-size: 1.2rem;
			}
		}
	}
}