.main-header {
	padding: .5rem;
	background: #152026;	
    position: relative;
    border: none;
    
    .name a {
        text-align: center;
        display: block;
        padding: 10px 15px;
        color: #ADC5D9;        
        text-decoration: none;
        font-weight: bold;
        font-size: 2.6rem;
        transition: font-size 0.5s ease-in-out;	

        &:hover {
            font-size: 2.8rem;            
        }
    }

	.main-nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;
		align-items: initial;

		a {
            font-size: 1.5rem;
            text-align: center;
            display: block;
            padding: 10px 15px;
            color: #ADC5D9;
            font-weight: bold;
            text-decoration: none;            
            transition: font-size 0.5s ease-in-out;	

            &:hover {
                font-size: 1.7rem;
            }
        }
    }
   
}

.hr-nav {
    margin: 0.5rem 4rem 0.5rem 4rem;
}


