.post-wrapper {
	padding: 0 5rem 0 5rem;
	width: 80%;
	display: flex;
	margin: 2rem auto 2rem auto;
	flex-direction: column;
	align-content: center;
	background-color: #152026;
	border-radius: 13px;
	

	h3 {
		color: #ADC5D9;
	}
}

.post-name {
	color: #ADC5D9;
	
	font-size: 3rem;
}