
.wrapp-reset {         
	margin: 1.2rem 10rem;
	background-size: 68vw 110vh;
    background-position: center;
    padding: 1rem;
}

.reset {
	padding: 2rem;
	width: 30vw;
	height: auto;
	display: flex;
	margin: 5% auto 8% auto;
	flex-direction: column;
    align-content: center;
    align-items: center;
	background-color: #152026;
	border-radius: 13px;
	color: #ADC5D9;        

	h1 {
		padding: 0.5rem 0 3.5rem 0;
	}

	p {
		font-size: 1.3rem;
		padding: 0.5rem 0 2rem 0;
	}
}