@import 'medias';
@import 'navbar';
@import 'explore-index';
@import 'posts';
@import 'post-page';
@import 'createIssue';
@import 'user';
@import 'edit-profile';
@import 'footer';

* {
	
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #3f3d56;
	margin: 0;
	
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}
