@media (min-width: 769px) {
  .main-header,
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1025px) {
  .main-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-header {
  padding: .5rem;
  background: #152026;
  position: relative;
  border: none;
}

.main-header .name a {
  text-align: center;
  display: block;
  padding: 10px 15px;
  color: #ADC5D9;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.6rem;
  -webkit-transition: font-size 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out;
}

.main-header .name a:hover {
  font-size: 2.8rem;
}

.main-header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.main-header .main-nav a {
  font-size: 1.5rem;
  text-align: center;
  display: block;
  padding: 10px 15px;
  color: #ADC5D9;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: font-size 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out;
}

.main-header .main-nav a:hover {
  font-size: 1.7rem;
}

.hr-nav {
  margin: 0.5rem 4rem 0.5rem 4rem;
}

.welcome {
  margin: .2rem 4rem 0 4rem;
  padding-top: 2rem;
  font-size: 2rem;
}

.teams {
  margin: 0 4rem 0 4rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.posts-wrapper {
  background-position: center;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: #152026;
  margin: 1rem 4rem 1rem 30%;
  border-radius: 13px;
  color: #F6F6F6;
}

.posts-wrapper a {
  color: #ADC5D9;
  text-decoration: underline;
  cursor: pointer;
}

.posts-wrapper a:hover {
  font-weight: bold;
}

.posts-wrapper .issue-name {
  font-size: 1.5rem;
}

.posts-wrapper .creator-name {
  font-size: 1.2rem;
}

.post-wrapper {
  padding: 0 7rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto 2rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #152026;
  border-radius: 13px;
}

.post-wrapper h3 {
  color: #ADC5D9;
}

.post-name {
  color: #ADC5D9;
  text-align: center;
  font-size: 3rem;
}

.section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.meta-data {
  text-align: right;
}

.post-description {
  padding-left: 1.5rem;
}

.comment-content {
  padding-left: 1.5rem;
}

.wrapp-create-issue {
  margin: 1.2rem 10rem;
  background-size: 68vw 110vh;
  background-position: center;
  padding: 1rem;
}

.create-issue {
  padding: 2rem;
  width: 30vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% auto 7% auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #152026;
  border-radius: 13px;
  color: #ADC5D9;
}

.create-issue h1 {
  padding-bottom: 2rem;
}

.create-issue p {
  font-size: 1.3rem;
}

.user-table {
  padding: 0 10rem;
  min-width: 90%;
  min-height: 100%;
  margin: 0 0 0.5rem 6rem;
}

.hr-usertable {
  margin: 0 4rem 0 4rem;
}

.wrapp-edit-profile {
  margin: 2rem 10rem;
  background-size: cover;
  background-position: center;
  padding: 1rem;
}

.edit-profile {
  padding: 2rem;
  width: 35vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% auto 7% auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #152026;
  border-radius: 13px;
  color: #ADC5D9;
}

.footer-main {
  position: absolute;
}

.footer {
  min-height: 5vh;
  background-color: #152026;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  bottom: 0;
  left: 0;
}

.wrapp-reset {
  margin: 1.2rem 10rem;
  background-size: 68vw 110vh;
  background-position: center;
  padding: 1rem;
}

.reset {
  padding: 2rem;
  width: 30vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% auto 8% auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #152026;
  border-radius: 13px;
  color: #ADC5D9;
}

.reset h1 {
  padding: 0.5rem 0 3.5rem 0;
}

.reset p {
  font-size: 1.3rem;
  padding: 0.5rem 0 2rem 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #F6F6F6;
  margin: 0;
  background-color: #314A59;
}

body a {
  color: #ADC5D9;
}

body a:hover {
  font-weight: bold;
}

p {
  font-size: .95em;
  margin-bottom: 1.8em;
}
/*# sourceMappingURL=style.css.map */