* {	
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	margin: 0 4rem;
	background: #152026;	
	min-height: 100vh;	
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.formsignin {
	background-color: #314A59;	
	padding: 1rem 5rem 5rem 5rem;	
	font-weight: 500;
	border-radius: 13%;
	color: #F6F6F6;	

	h1 {
		text-align: center;
		color: #ADC5D9;		
		font-size: 4rem;
		padding: 2rem;
		margin: 0;
	}

	a {
		color: white;
		text-decoration: underline;
		transition: font-size 0.5s ease-in-out;	

		&:hover {
			font-weight: bold;
			color: #ADC5D9;
		}
	}
}
