@import 'flex';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	margin: 0 4rem;
	color: #141414;
}
ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	li a {
		padding: 0 2rem;
	}
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

.name {
	font-size: bold;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.h1,
.main-nav li a {
	color: #141414;
}
