* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	margin: 0 4rem;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		text-align: center;
	}
}

.formsignin {
	// border: solid 2px black;
	padding: 50px;
	box-shadow: 10px 10px 5px 0px rgba(214, 214, 214, 1);
}

// .hr-style {
// 	border: 0;
// 	height: 1px;
// 	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
// }
