<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='imgs/text_box_check_outline_icon_139149.ico') }}">
    <title>Team Collab Center</title>
     
    {{ moment.include_jquery() }}  
    {{ moment.include_moment() }}   
</head>
<body>
    <header class="main-header">        
        <h1 class="name"><a href="{{ url_for('index') }}">Team Collab Center</a></h1>
        
        <ul class="main-nav">
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('create_issue') }}">New Issue</a></li>  
            <li><a href="{{ url_for('explore') }}">All Issues</a></li>
            <li><a href="{{ url_for('user', username=current_user.username) }}">My profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>       
    </header><!--/.main-header-->  
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    {% block content %}{% endblock %}
    
</body>
</html>