<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/login/style_login.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='imgs/undraw_team_goals_hrii.png') }}">
    <title>Team Collab Center</title>
     
    <!-- {{ moment.include_jquery() }}  
    {{ moment.include_moment() }}   -->

</head>
<body>
    

{% block content %}

    
   
    <div class="formsignin">
        <h1>Sign In</h1>
        <form  action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p class="username">
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                Forgot Your Password?
                <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
            </p>
            
            <br>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p class="button-submit">{{ form.submit() }}</p>
            <br>
            <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        </form>
    </div>

{% endblock %}

</body>
</html>