{% extends "base.html" %}

{% block content %}
<div class="post-wrapper">
    
       
        <h2 class="post-name">Issue: {{ post.title }}</h2>

        <div class="section-top">
            <div class="section-top-1">
                <h3>Ref: {{ post.id }}</h3>    
                <br>
                <h2 class="description">Description:</h2>
                <p class="post-description">{{ post.description }}</p>
            </div>
            <div class="section-top-2">
                <p class="meta-data">                    
                    <br>Created: {{ moment(post.timestamp).fromNow() }} 
                    <br>
                    <br>Posted by: {{ post.author.username }} 
                    <br>
                    <br>Team: {{ post.team_posts.name }} 
                </p>
            </div>    
        </div>
 
    <div class="post-comments">
        <h2>Comments: </h2>
        {% for comment in comments %}
            <table>
                <tr valign="top">
                    <td>
                        <p class="comment-content">{{ comment.body }}</p>
                        Comment by: {{ comment.comment_author.username }} <br>
                        {{ moment(comment.timestamp).fromNow() }} 
                    </td>
                </tr>
            </table> 
            <hr>   
        {% endfor %}

            
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.body.label }}<br>
                {{ form.body(cols=70, rows=10) }}<br>
                {% for error in form.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit2() }}</p>
        </form>
    </div>
</div>
{% endblock %}